.rock {
    background-color: #DC143C;
}

.pop {
    background-color: #FF69B4;
}

.hip-hop {
    background-color: #556B2F;
}

.rnb {
    background-color: #8B0000;
}

.country {
    background-color: #F4A460;
}
